body {
	background-color: black;
}

canvas {
	display: block;
	margin: auto;
}

header {
    margin-top: 30px;
}

header p {
	font-size: 2em;
    color: white;
    background-color: rgba(253, 1, 1, 0.90);
    text-align: center;
    font-family: monospace;
    box-shadow: 0px 10px 50px 10px red;
}


/*Dropdown menu*/
.dropbtn {
    background-image: url("../images/dropdown.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    margin-right: 30px;
    
}

.dropbtn:hover, .dropbtn:focus {
    opacity: .6;
}

.dropdown {
    float: right;
}

.dropdown-content {
    display: none;
    float: left;
    background-color: rgba(253, 1, 1, 0.62);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

nav {
	text-align: center;
	list-style: inside;
}

nav li {
	display: inline;
	
}

nav a {
	font-size: 2rem;
	text-decoration: none;
}

#games {
    padding: 60px;
}

.games li {
    list-style: none;
}

.games a {
    display: inline-block;
	width: 14rem;
	height: 14rem;
	background-color: red;
    border-radius: 50%;
    box-shadow: inset 10px 10px 50px #363636;
    margin: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 15px solid grey;
}

.games a:hover, .games a:focus {
    opacity: .6;
}

#pong a {
	background-image: url(../images/pongBackground.png);
	
}

#bird a {
	background-image: url(../images/birdBackground2.png);

}

#snake a {
	background-image: url(../images/snakeLogo.png);

}
/*
#snake a {
	background-image: url(../images/.png);
	background-repeat: no-repeat;

}
*/
.highScores {
	color: royalblue;
	text-align: center;
	font-size: 2rem;
}

label {
    color: #fff;
    
}

.topScorez {
    color: #fff;
}

.scorez {
    color: #fff;
}

table {
    margin-left: auto;
    margin-right: auto;
}
